body {
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
	width: 100%;
	height: 100%;
	position: absolute;
}

.caveat-body {
	margin: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

#header {
	position: absolute;
	width: 100%;
	height: 8%;
	border: 0px;
}

h1, h2, h3, h4, h5, h6, a {
	margin: 0;
	padding: 0;
}

.login {
	margin: 0 auto;
	max-width: 500px;
	background: url('http://cdn.wallpapersafari.com/29/57/jSKmkC.jpg')
		no-repeat center;
}

.menu-tree {
	height: 83.4%;
	position: absolute;
	width: 19.85%;
	top: 8%;
	bottom: 8%;
	border: 3px solid grey;
}

.ui-tree, .ui-widgetm, .ui-widget-content, .ui-corner-all {
	border-style: none !important;
}

.ui-tabs-nav {
	background: none !important;
	padding-left: 59% !important;
}

.ui-tabs-top {
	top: -120px !important;
	background: inherit !important;
}

#tree-div {
	position: absolute;
	width: 30%;
	height: 80%;
	left: 0%;
	top: 0.2%;
}

#tree-form {
	position: absolute;
	top: 2%;
	left: 1%;
}

#header-img {
	position: absolute;
	left: 1%;
	top: 30%;
}

#content-div {
	position: absolute;
	width: 100%;
	height: 83.4%;
	left: 0;
	top: 8%;
	border: 3px solid grey;
	right: 1%;
}

#content-page {
	position: absolute;
	width: 70%;
	height: 78.4%;
	left: 25%;
	top: 8%;
	border: 3px solid grey;
	right: 5%;
}


#search-popup {
	position: absolute;
	width: inherit;
	height: inherit;
	left: 5%;
	top: 170%;
}

#breadcrump-div {
	top: 250%;
	left: 5%;
	position: absolute;
	width: inherit;
	height: 10%;
	position: absolute;
}

#categories-destails-div {
	position: absolute;
	width: 88%;
	height: inherit;
	left: 5%;
	top: 340%;
}

#footer-message {
	text-align: center;
}

.footer {
	position: absolute;
	width: 100%;
	height: 8%;
	bottom: 0;
	border: 0;
}

.register {
	margin: 0 auto;
	max-width: 500px;
	background: url('http://cdn.wallpapersafari.com/29/57/jSKmkC.jpg')
		no-repeat center;
}

.login-header {
	color: #fff;
	text-align: center;
	font-size: 250%;
}

.register-header {
	color: #fff;
	text-align: center;
	font-size: 200%;
}

/* .login-header h1 {
   text-shadow: 0px 5px 15px #000; */
}
.login-form, .register-form {
	border: .5px solid #fff;
	background: #4facff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #000;
}

.login-form h3 {
	text-align: left;
	margin-left: 40px;
	color: #fff;
}

.register-form h3 {
	text-align: left;
	margin-left: 40px;
	color: #fff;
}

.login-form, .register-form {
	box-sizing: border-box;
	padding-top: 15px;
	padding-bottom: 10%;
	margin: 5% auto;
	text-align: center;
}

.login input[type="text"], .login input[type="password"] {
	max-width: 400px;
	width: 80%;
	line-height: 3em;
	font-family: 'Ubuntu', sans-serif;
	margin: 1em 2em;
	border-radius: 5px;
	border: 2px solid #f2f2f2;
	outline: none;
	padding-left: 10px;
}

.register input[type="text"], .register input[type="password"] {
	max-width: 400px;
	width: 80%;
	line-height: 1.5em;
	font-family: 'Ubuntu', sans-serif;
	margin: 1em 2em;
	border-radius: 5px;
	border: 2px solid #f2f2f2;
	outline: none;
	padding-left: 10px;
}

.ui-button-text {
	cursor: pointer;
}

.sign-up {
	color: #f2f2f2;
	margin-left: -70%;
	cursor: pointer;
	text-decoration: underline;
}
.ui-inputfield, .ui-inputtextarea {
	
	border: 1px solid black;

}


/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 530px) {
	.login-form h3 {
		text-align: center;
		margin: 0;
	}
	.register-form h4 {
		text-align: center;
		margin: 0;
	}
	.login-button {
		margin-bottom: 10px;
	}
}