body {
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
	width: 100%;
	height: 100%;
	position: absolute;
}

#items-table-content {
	padding-top: 2%;
	padding-left: 2.5%;
	padding-right: 2.5%;
}

dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#items-dropdown {
	padding-left: 3%;
}

.ui-selectonemenu, .ui-state-default {
	width: inherit !important;
}

.ui-selectonemenu-item, .ui-selectonemenu-list-item, .ui-noselection-option, .ui-state-highlight {
	width: inherit !important;
}

#ui-datepicker-div {
	background-color: #f4f4f4 !important;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 16px !important;
	height: 16px !important;
	cursor: default;
	background: url(../images/circle_grey.png) 0 0 no-repeat;
	outline: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 1;
}

.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff url(/showcase/javax.faces.resource/images/ui-bg_flat_75_ffffff_40x100.png.xhtml?ln=primefaces-smoothness) 50% 50% repeat-x;
    color: #222222;
}

.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}



.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
}

#itemPurpose {
	position: absolute;
	cursor: pointer;
}

.ui-selectonemenu-items-wrapper {
	width: inherit !important;
}

.caveat-body {
	margin: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

#categories-div {
	position: absolute;
	width: 90%;
	height: 95%;
	margin-left: 20%;
	margin-top: -4%;
}

#items-page {
	position: absolute;
}

#header {
	position: absolute;
	width: 100%;
	height: 8%;
	border: none;
}

h1, h2, h3, h4, h5, h6, a {
	margin: 0;
	padding: 0;
}

#category-form, #categories-div {

	
}

.login {
	margin: 0 auto;
	max-width: 500px;
	background: url(http://cdn.wallpapersafari.com/29/57/jSKmkC.jpg)
		no-repeat center;
}

.menu-tree {
	height: 83.4%;
	position: absolute;
	width: 15%;
	top: 59%;
	left: 3%;
	bottom: 8%;
	background: inherit;
}

.ui-tree, .ui-widgetm, .ui-widget-content, .ui-corner-all {
	border-style: none !important;
	
}

.ui-panel {
margin-right: 10%;
}

#removeCategoryButton, #saveCategoryButton {
	width: 10%;
}

#create-new {
	width: inherit !important;	
}

.ui-tabs-nav {
	background: none !important;
	padding-left: 59% !important;
}

.ui-tabs-top {
	top: -6.9% !important;
	background: inherit !important;
}

.ui-tabs .ui-tabs-panel {
	border-width: 0;
	padding: 3em 3.4em;
	background: none;
}

#tree-div {
	position: absolute;
	width: 30%;
	height: 80%;
	left: 0%;
	top: 0.2%;
}

#tree-form {
	position: absolute;
	top: 2%;
	left: 1%;
}

#header-img {
	position: absolute;
	left: 5%;
	top: 50%;
}

/* items */
.order-table {
	border-collapse: collapse;
}

.order-table-header {
	text-align: center;
	background: none repeat scroll 0 0 #E5E5E5;
	border-bottom: 1px solid #BBBBBB;
	padding: 16px;
}

.order-table-odd-row {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
	border-top: 1px solid #BBBBBB;
}

.order-table-even-row {
	text-align: center;
	background: none repeat scroll 0 0 #F9F9F9;
	border-top: 1px solid #BBBBBB;
}

#content-div {
	position: absolute;
	width: 95%;
	height: 80%;
	left: 0;
	top: 8%;
	right: 1%;
}

#categories-panel
{
	margin-right: 10% !important;
}

#content-page {
	position: absolute;
	width: 95%;
	height: 95%;
	left: 5%;
	top: 5%;
	right: 5%;
	border: 1px solid grey;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    filter: Alpha(Opacity=35);
    background-image: none;
    }

#search-popup {
	position: absolute;
	width: inherit;
	height: inherit;
	left: 5%;
	top: 50%;
}

#breadcrump-div {
	top: 100%;
	left: 5%;
	position: absolute;
	width: inherit;
	height: 10%;
	position: absolute;
}

#categories-destails-div {
	position: absolute;
	width: 88%;
	height: inherit;
	left: 5%;
	top: 150%;
}

#footer-message {
	text-align: center;
}

.footer {
	position: absolute;
	width: 100%;
	height: 8%;
	bottom: 0;
	border: 0;
}

.register {
	margin: 0 auto;
	max-width: 500px;
	background: url(http://cdn.wallpapersafari.com/29/57/jSKmkC.jpg)
		no-repeat center;
}

.login-header {
	color: #fff;
	text-align: center;
	font-size: 250%;
}

.register-header {
	color: #fff;
	text-align: center;
	font-size: 200%;
}

/* .login-header h1 {
   text-shadow: 0px 5px 15px #000; */
}
.login-form, .register-form {
	border: .5px solid #fff;
	background: #4facff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #000;
}

.login-form h3 {
	text-align: left;
	margin-left: 40px;
	color: #fff;
}

.register-form h3 {
	text-align: left;
	margin-left: 40px;
	color: #fff;
}

.login-form, .register-form {
	box-sizing: border-box;
	padding-top: 15px;
	padding-bottom: 10%;
	margin: 5% auto;
	text-align: center;
}

.login input[type="text"], .login input[type="password"] {
	max-width: 400px;
	width: 80%;
	line-height: 3em;
	font-family: 'Ubuntu', sans-serif;
	margin: 1em 2em;
	border-radius: 5px;
	border: 2px solid #f2f2f2;
	outline: none;
	padding-left: 10px;
}

.register input[type="text"], .register input[type="password"] {
	max-width: 400px;
	width: 80%;
	line-height: 1.5em;
	font-family: 'Ubuntu', sans-serif;
	margin: 1em 2em;
	border-radius: 5px;
	border: 2px solid #f2f2f2;
	outline: none;
	padding-left: 10px;
}

.ui-button-text {
	cursor: pointer;
}

.sign-up {
	color: #f2f2f2;
	margin-left: -70%;
	cursor: pointer;
	text-decoration: underline;
}

.ui-inputfield, .ui-inputtextarea {
	border: 1px solid black;
}

/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 530px) {
	.login-form h3 {
		text-align: center;
		margin: 0;
	}
	.register-form h4 {
		text-align: center;
		margin: 0;
	}
	.login-button {
		margin-bottom: 10px;
	}
}